
$accentGreen: #4caf50;
$accentBlue: #2196f3;
$accentBlueHovered: #1769aa;
$darkBlue: #04556f;
$dark: #141e23;
// $dark: #101418;
$lightGray: rgba(194, 224, 255, 0.08);
$gradient: linear-gradient(180deg, $accentGreen, $accentBlue);

$error: rgb(221, 42, 42);
