@use "../../variables" as vars;
.loading_bg {
    position: absolute;
    inset: 0;
    z-index: 3;
    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(5px);
    color: white;
    display: grid;
    place-items: center;
    font-size: 48px;
}